<footer class="bg-black text-white">
  <nav class="w-[95%] md:w-[80%] mx-auto py-5 grid gap-5 md:grid-cols-3">
    <div class="flex flex-col items-center md:items-start">
      <img class="w-20 pb-3 md:pb-0" src="/logo.svg" alt="Logo" />
    </div>
    <div>
      <p class="font-bold text-xl mb-2 text-center md:text-left">Secciones</p>
      <ul class="text-center md:text-left">
        <li class="pb-1">
          <a href="#inicio" class="hover:underline">Inicio</a>
        </li>
        <li class="pb-1">
          <a href="#contenido" class="hover:underline">Contenido</a>
        </li>
        <li class="pb-1">
          <a href="#servicios" class="hover:underline">Servicios</a>
        </li>
        <li class="pb-1">
          <a href="#contacto" class="hover:underline">Contacto</a>
        </li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-xl mb-2 text-center md:text-left">Redes</p>
      <div class="text-center md:text-left">
        <div class="pb-1">
          <a
            href="https://www.youtube.com/@trabajostech/videos"
            target="_blank"
            class="hover:underline">YouTube</a
          >
        </div>
        <div class="pb-1">
          <a
            href="https://www.instagram.com/trabajostech/"
            target="_blank"
            class="hover:underline">Instagram</a
          >
        </div>
        <div>
          <a
            href="https://www.tiktok.com/@trabajostech"
            target="_blank"
            class="hover:underline">Tiktok</a
          >
        </div>
      </div>
    </div>
  </nav>
</footer>
