<section class="mb-20" id="inicio">
  <div class="hero-section">
    <div class="overlay">
      <h1 class="text-5xl font-bold text-black">TRABAJOS TECH</h1>
    </div>
  </div>
</section>

<style>
  .hero-section {
    height: 100vh;
    background-image: url("/main-img.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
