<section id="servicios" class="text-white pt-20">
  <div class="mx-auto text-center bg-eGray h-screen md:h-96 mb-44 md:mb-20">
    <h2 class="font-bold text-3xl py-10 pb-5">SERVICIOS</h2>
    <p class="w-[90%] mb-5 xl:max-w-3xl mx-auto text-lg">
      Trabajos Tech crea contenido único que promueve y ayuda a trabajadores del
      mundo IT a insertarse en el mercado laboral y formarse como profesionales.
    </p>
    <div class="grid md:flex justify-center gap-8 md:max-w-3xl mx-auto">
      <div
        class="flex items-center justify-center bg-black p-8 rounded-lg shadow-lg w-[90%] mx-auto h-[250px]"
      >
        <h3 class="font-bold text-xl text-center my-5">
          Campañas publicitarias para marcas
        </h3>
      </div>

      <div
        class="flex items-center bg-black p-8 rounded-lg shadow-lg w-[90%] mx-auto h-[250px]"
      >
        <h3 class="font-bold text-xl text-center my-5">
          Asesoramiento a marcas para crear contenido en redes sociales
        </h3>
      </div>
      <div
        class="flex items-center bg-black p-8 rounded-lg shadow-lg w-[90%] mx-auto h-[250px]"
      >
        <h3 class="font-bold text-xl text-center my-5">
          Asesoramiento a profesionales para trabajar su marca personal en redes
          sociales.
        </h3>
      </div>
    </div>
  </div>
  <div class="w-[90%] mx-auto text-black text-lg xl:max-w-3xl text-center">
    <p class="mb-2">
      Trabajamos con socios claves (marcas del sector) para implementar campañas
      de alta calidad e impacto que aseguran resultados.
    </p>
    <p>
      La audiencia de Trabajos Tech es dedicada y confía en el contenido que se
      promueve y comparte con ellos. Por ello, somos selectivos con quienes nos
      asociamos, para asegurarnos de que estamos conectando a nuestra comunidad
      con productos y resultados en los que creemos.
    </p>
  </div>
</section>
